.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#back-to-top-anchor{
  margin-bottom: 10px;
}
.headers{
  font-weight: bold !important;
}
.MuiCircularProgress-root{
  display: contents !important;
}
.greyed{
  background-color: rgba(0, 0, 0, 0.04);
}
.active{
  cursor: pointer;
}
@media only screen and (max-width: 800px){
  #back-to-top-anchor{
    margin-bottom: 40px;
  }
}
.table-container{
  background-color: #f5f5f5;
  padding-top: 10px !important;
  padding-bottom: none !important;
}
.col-eye{
  min-width: 75px;
}
.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
